In [1]:
import pandas as pd

In [2]:
df_u = pd.read_csv('./update_full.tsv', sep='\t')

df_u

,ID,success_or_fail,content
0,ambiolight-a-one-touch-room-makeover,0,
1,arc-island-a-brave-new-civilization,0,
2,asylum-playing-cards,1,Only 25 Hours left to GO until production begi...
3,code-hero-a-game-that-teaches-you-to-make-game...,1,From the project coordinator: GOODBYES Hi ever...
4,dark-skyes-an-epic-brony-dating-sim,0,We've gotten a lot of messages from people ask...
...,...,...,...
203,junkyard-glass,1,JUNKYARD GLASS AKA RECUPERO IS NOW FEATURED IN...
204,handspun-single-sheep-breed-yarns,1,Ok so where are we with shipping? As of today ...
205,tgt-tight-a-new-kind-of-wallet,1,I hope everyone is having a great holiday seas...
206,picobrew-zymatic-the-automatic-beer-brewing-ap...,1,Hi Zymatic Backers! We know it’s been a while ...
207,the-espro-press,1,Hello to all our previous backers and widespre...

In [3]:
import tqdm

for idx, text in enumerate(tqdm(df['contenet'])):
    print(text)

SyntaxError: invalid syntax (<ipython-input-3-844a3ea99f38>, line 3)